/*
Theme Name:   Child Theme
Description:  Write here a brief description about your child-theme
Author:       security@pixelstorm.com.au
Author URL:   Write here the author's blog or website url
Template:     fortuna
Version:      1.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  child-theme
*/

/* Write here your own personal stylesheet */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800');
h1{
  line-height: 75px;
  letter-spacing: -0.8px;
  font-size: 80px;
  text-align: left;
  font-family: Georgia;
  font-weight: bold;
  font-style: italic;

}
.custom-section-two .wpb_column.vc_column_container.vc_col-sm-4 {
  padding-left: 30px;
}
.vc_column-inner {
  padding-top: 0px!important;
}

/* // social */
.social{
	text-align: center;
}
.social > li {
    display: inline-block;
    margin: 0 10px;
}
.social .title {
    color: #383634;
    font-size: 38px;
    font-weight: 500;
    line-height: 1.5;
    margin-right: 40px;
}
.social-media {
    background: #e9c84c none repeat scroll 0 0;
    padding: 25px 0;
    max-height: 125px;
}
.social a {
    position: relative;
    top: 15px;
}
/* custom-header */
h2.customs-header {
  font-family: Georgia;
  line-height: 1.24;
  text-transform: none;
  letter-spacing: 1px;
}
.post_content .vc_row.wpb_row.vc_row-fluid {
  margin-bottom: 0;
}
/* custom-blog */
.post_item_block {
    background: #fff none repeat scroll 0 0;
    max-height: 100%;
}
.post_item_desc.dark_links {
    padding: 0 23px 23px;
    text-align: right;
}
.post_item_block h4 {
  color: #383634;
  font-family: Montserrat;
  font-size: 28px;
  margin: 20px 0 30px;
  text-align: left;
  text-transform: none;
  letter-spacing: -0.5px;
  font-weight: 500;
  line-height: 1.11;
  height: 100%;
}
.boc_heading.custom-h3 {
  font-weight: 500;
  text-transform: none;
  font-family: Montserrat;
}
.post_item_block p {
  color: #383634;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
  text-align: left;
  min-height: 50px;
  margin-bottom: 0px;
}
.post_item_block .more-link2 {
  display: inline-block;
  font-size: 0;
  line-height: 14px;
  transition: all 0.2s ease 0s;
}
.main_menu_underline_effect #menu > ul > li > a::after {
  background-color: #7198a2;
}
.more-link2::before {
  background: #e9c84c none repeat scroll 0 0;
  border-radius: 0;
  content: url("images/arrow1.svg");
  height: 50px;
  padding: 18px 0;
  margin-right: 0px;
  width: 50px;
}
.custom-text p {
  color: #fff;
  font-family: Georgia;
  font-size: 20px;
  text-align: left;
  line-height: 1.6;
  width: 85%;
}
.custom-text h4 {
  color: white;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  text-transform: none;
  margin-bottom: 8px;
  line-height: 1.21;
}
.button.custom-btn {
  background: rgba(0, 0, 0, 0) url("images/button.svg") no-repeat scroll 0 0;
  border-radius: 0;
  height: 51px;
  max-width: 300px;
  width: 100%;
  color: #383634;
  font-family: Montserrat;
  font-size: 16px;
  position: relative;
}
.button.custom-btn:after{
    content: url('images/arrow1.svg');
    position: absolute;
    right: 25px;
    width: 25px;
height:25px;
}
.button.custom-btn:hover{
    background: rgba(0, 0, 0, 0) url("images/button.svg") no-repeat scroll 0 0;
}
.custom-section-two .wpb_column.vc_column_container.vc_col-sm-4 {
  background: #8c9067 none repeat scroll 0 0;
}
/* header  */
#menu > ul > li > a {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  padding: 4px 20px 0;
  font-weight: bold;
}
#menu > ul > li > a:hover {
    color: #e0d9d0!important;
}
#header {
  background: #383634 none repeat scroll 0 0;
}
.rel_pos #logo .logo_img {
  display: table-cell;
  font-size: 0;
  height: auto;
  letter-spacing: 0;
  line-height: 0;
  position: absolute;
  top: 5px;
  transition: height 0.1s ease-out 0s;
  vertical-align: middle;
  width: 139px;
}
#header.scrolled #menu > ul > li > a {
  color: #333;
  font-weight: bold;
  line-height: 60px;
}
.main_menu_underline_effect #menu > ul > li > a::after {
  bottom: 20px;
  background-color: #7198a2;
}
.scrolled .main_menu_underline_effect #menu > ul > li > a::after {
  background-color: #08ada7;
  bottom: 15px;
}
.custom-btn.more-event {
  display: block;
  float: none;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}

.boc_heading.header-event {
  text-transform: none;
}
.vc_row.wpb_row.vc_row-fluid.blog-post.vc_row-has-fill{
  background-position: center 67%!important;
}
.vc_row.wpb_row.vc_row-fluid.custom-bg.vc_row-has-fill {
  background-position: right 13%!important;
}
.custom-text-content .wpb_text_column.wpb_content_element:last-child {
  margin-bottom: 0px!important;
}
.breadcrumb a:hover.first_bc {
  border-bottom: 1px solid #222;
  border-radius: 0;
}

/* footer */

.footer_btm{
    background: #383634;
  height: 50px;
  padding: 10px 0px;
}
.footer_btm #powered {
  color: #fff;
  line-height: 1.86;
  font-size: 14px;
}
#footer {
  background: #fff none repeat scroll 0 0;
}
#footer h3 {
  color: #383634;
  font-size: 28px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
#footer .col ul li a::before {
  display: none;
}
#footer a {
  color: #383634;
  font-size: 14px;
  line-height: 1.11;
  font-family: Georgia;
}
#footer .col ul li {
  margin-bottom: 7px;
}

/* page_heading */
.page_title_bgr .full_container_page_title {
  background: #8c9067 none repeat scroll 0 0;
  border-bottom: 0px solid #eee;
  margin-bottom: 0px;
  min-height: 100%;
  padding: 70px 0 10px;
  position: relative;
}
.breadcrumb {
  bottom: -35px;
  height: 20px;
  line-height: 20px;
  margin: 22px 0 0;
  position: absolute;
  z-index: 9999;
}
.page_title_bgr .full_container_page_title .page_heading {
  margin: 0px;
  text-align: right;
}
.page_heading h1 {
  color: white;
  font-family: georgia;
  font-size: 80px;
  font-style: italic;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  text-transform: none;
}
.boc_heading.header-title-event {
  font-weight: 500;
  text-transform: none;
  line-height: 1.05;
  text-align: left;
  color: #383634;
}
.breadcrumb a {
  color: #383634;
  float: left;
  font-weight: 300;
  font-family: Montserrat;
  font-size: 15px;
  line-height: 20px;
  margin-right: 6px;
  transition: all 0.3s linear 0s;
}
.custom-text-content .wpb_wrapper > h3 {
  color: #383634;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1.11;
  text-transform: none;
}
.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-blog,
.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-event,
.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-news,
.category-event,
.category-news{
    padding-top: 70px;
    background-color: #e0d9d0;
    background-image: url("images/repeatable_pattern.svg");
    background-repeat: no-repeat;
    background-position: left -8%!important;
    padding-bottom: 70px;
}
.category-event,
.category-news{
  padding-top: 70px;
  background-color: #e0d9d0;
  background-image: url("images/repeatable_pattern.svg");
  background-repeat: no-repeat;
  background-position: left -8%!important;
  padding-bottom: 70px;
}
.pic.no-image img {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: auto;
}
.pic.no-image {
  display: inline-block;
  text-align: center;
}

h4.boc_heading.header-event.center {
    margin-bottom: 28px !important;
}

.grid_holder .col.span_1_of_3 {
    margin: 0px 10px 30px;
    width: calc(33.33% - 20px);
}
.custom-text {
  margin-bottom: 53px;
}
.custom-text-content p,
.custom-texts p{
  color: #383634;
  font-family: Georgia;
  font-size: 20px;
  line-height: 1.7;
}
.breadcrumb a span::after {
  content: "/";
  display: inline-block;
  font-family: Montserrat;
  font-size: 13px;
  margin: 0 0 0 6px;
  position: relative;
  top: 1px;
  width: 10px;
}
#powered {
  color: #fff;
  font-family: Georgia;
  font-size: 20px;
}
/*sinle-page*/
.post_content.col.span_3_of_4 {
  background: #fff none repeat scroll 0 0;
  padding-bottom: 30px;
}
.the_description {
  padding: 50px 50px 20px;
}
.the_description > h3 {
  color: #383634;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1.25;
  text-transform: none;
}
.post_description > div#layerContent {
  color: #383634;
  font-family: Georgia;
  font-size: 20px;
  line-height: 1.7;
}
.post_description {
  margin: 20px 0 12px;
}
span.author, .calendar_date, span.author a {
  background: transparent none repeat scroll 0 0;
  border-right: 0 solid #ddd;
  color: #383634!important;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 300;
  padding: 0;
}
.custom-bg .post_item_block h4{
  font-size: 28px;
}
.custom-text-content {
  margin-bottom: 50px!important;
}
.post_content .about-page{
  background-position: center 100px!important;
  background-repeat: no-repeat!important;
}
#footer .span_1_of_4 {
  margin-bottom: 0px;
}
.custom-section-two {
  min-height: 100%!important;
}
.custom-text-content .wpb_text_column.wpb_content_element {
  margin-bottom: 79px;
}
.vc_row.wpb_row.vc_inner.vc_row-fluid.vc_custom_1507622120141.vc_row-has-fill,
.vc_row.wpb_row.vc_inner.vc_row-fluid.custom-text-content.vc_custom_1507622967487.vc_row-has-fill{
  margin-left: 0;
  margin-right: 0;
}
.author::before {
  color: #737270;
  content: "";
  font-family: FontAwesome;
  font-size: 15px;
  padding-right: 5px;
}
#sidebar.col.span_1_of_4.sidebar {
  background: #e9c84c none repeat scroll 0 0;
  padding-bottom: 75px;
  padding-left: 34px;
  padding-top: 47px;
  padding-right: 20px;
}
#sidebar .widget-title {
  color: #383634;
  font-family: Georgia;
  font-size: 38px;
  line-height: 1.26;
  text-transform: none;
  margin-bottom: 30px;
}
.btn-event{
  background: url("images/bte.png") no-repeat;
  padding: 5px 10px;
  position: relative;
  width: 242px;
  height: 50px;
  padding: 12px 10px;
}
.btn-event:hover{
  background: url("images/btehv.png") no-repeat;
}
.btn-event::after {
  content: url("images/arrow2.svg");
  position: absolute;
  right: 33px;
  top: 15px;
}
.btn-event:hover::after{
  content: url("images/arrow1.svg");
}
.btn-event > a {
  color: #e0d9d0;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.69;
  text-transform: uppercase;
}
.tp-loop-wrap #caption-h1.tp-caption.tp-resizeme {
  letter-spacing: 0.8px!important;
}
.col.span_1_of_4 img {
  position: relative;
  top: -13px;
}
.social .active.hide {
  display: none;
}

.social a:hover img {
  display: none;
}
.social a:hover img.active.hide {
  display: block;
}
.dark_links a:hover, .white_links a:hover, .dark_links a:hover h2, .dark_links a:hover h3,
 #footer a:hover{
   color: #7198a2!important;
 }
.more-link2:hover::before{
  background-color: #7198a2!important;
}
.single-post #wrapper > div#footer{
  background-color: #e0d9d0;
}
.page-id-8 #wrapper > div#footer{
  background-color: #e0d9d0;
  background-image: url("images/homepage_whats_on_panel_texture.png");
  background-position: right 210px;
  background-repeat: no-repeat;
}
.vc_row.wpb_row.vc_row-fluid.event-page.vc_row-has-fill{
  background-image: url("images/repeatable_pattern.svg");
  background-repeat: no-repeat;
  background-position: left 115px;
  padding-bottom: 100px!important;
}
.home #date_time.more-link2 {
  display: none;
}
.page-id-8 .more-link1 {
  display: none;
}
.page-id-8 #date_time.more-link1 {
  display: block;
}
.page-id-8 .more-link1::before {
  display: none;
}
.page-id-8 #date_time.more-link1 {
  background: #e9c84c none repeat scroll 0 0;
  color: #383634;
  display: inline-block;
  margin-top: 31px;
  font-family: Georgia;
  font-size: 20px;
  height: 50px;
  padding: 12px;
  text-decoration: underline;
  width: 50px;
}

.archive .col.span_3_of_4,
.col.span_1_of_4.sidebar{
  margin-top: 70px!important;
}
.archive .pic {
  display: none;
}
.archive .post_item.section {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #fff;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-size: auto auto;
  border: 0 solid transparent;
  margin-bottom: 75px;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-right: 55px;
}
.archive .content_body {
  background-color: #e0d9d0;
  background-image: url("images/repeatable_pattern.svg");
  background-position: left 300px;
  background-repeat: no-repeat;
}
.single-event .content_body{
  background-color: #e0d9d0;
  background-image: url("images/repeatable_pattern.svg");
  background-position: right 265px;
  background-repeat: no-repeat;
}
.archive .post_title{
  color: #383634;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1.25;
  text-transform: none;
  margin-bottom: 10px;
}
.archive .post_description.clearfix > p{
  color: #383634;
  font-family: Georgia;
  font-size: 20px;
  line-height: 1.3;
}
.archive .post_description.clearfix {
  margin: 20px 0 0px;
}
.archive  .post_list_left {
  float: left;
  margin-top: 7px;
  text-align: center;
  width: 75px;
  height: 75px;
  background: #8c9067;
}
.archive .day {
  background-color: transparent;
  background-image: none;
  border-bottom: 0 solid white;
  border-radius: 2px 2px 0 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;
  padding: 10px 15px;
  font-weight: 500;
  line-height: 0.69;
}
.comments.no-border-comments {
  display: none;
}
.archive .month {
  background-color: transparent;
  background-image: none;
  border-bottom: 0 solid rgba(0, 0, 0, 0.08);
  border-radius: 0 0 2px 2px;
  color: white;
  font-size: 24px;
  font-weight: 300;
  padding: 1px 4px 2px;
}
.archive .post_list_right {
  margin-left: 125px;
  padding-top: 0px;
}
a:hover, a:focus {
  color: #08ada7!important;
}
.archive .author > a {
  text-decoration: underline;
}
.archive .more-link1 {
  background: rgba(0, 0, 0, 0) url("images/btblog.png") no-repeat scroll 0 0;
  border-radius: 0;
  color: #383634;
  font-family: Montserrat;
  font-size: 16px;
  height: 50px;
  max-width: 212px;
  padding: 13px 10px;
  text-transform: uppercase;
  width: 100%;
}
.archive .more-link1:hover {
  background: rgba(0, 0, 0, 0) url("images/bloghv.png") no-repeat scroll 0 0;
}
.archive .more-link1::before{
  content: url("images/arrow1.svg");
  float: right;
  position: relative;
  right: 10px;
  top:4px;
}
.archive .more-link1:hover {
  text-indent: 0;
}
.single .col.span_1_of_4.sidebar {
  margin-top: 0px!important;
}
.single .post_description > p{
  color: #383634;
  font-family: Georgia;
  font-size: 20px;
  line-height: 1.7;
}
/*pagination*/
.pagination .links a,
.pagination .links b{
  background-color: #e9c84c;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.02));
  border-bottom: 0 solid rgba(0, 0, 0, 0.05);
  color: #383634;
  display: inline-block;
  font-family: Georgia;
  font-size: 20px;
  height: 50px;
  padding: 16px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s linear 0s;
  width: 50px;
}
.pagination .links a.pagination-next {
  text-decoration: underline;
  width: 75px;
}
.pagination .links a:hover {
  background-color: #7198a2;
  color: white!important;
  text-shadow: none;
}
.pagination.section{
  padding-bottom: 70px;
}
.pagination .links b {
  background: #7198a2 none repeat scroll 0 0;
  color: white;
  text-decoration: underline;
}
.pagination .links b,
.pagination .links a{
  margin-right: 10px;
}
.single-event .post_content.col.span_3_of_4 {
  margin-top: 70px;
}
.event.type-event.status-publish.has-post-thumbnail.hentry{
  padding-bottom: 70px;
}
.archive .content_body .span_1_of_4 ,
.single .content_body .span_1_of_4 {
  width: 26.75%;
}
.archive .content_body .span_3_of_4,
.single .content_body .span_3_of_4{
  width: 70.25%;
}
.page_title_bgr .full_container_page_title {
  margin-bottom: 0px!important;
}
.breadcrumb a.last_bc span::after {
  content: "/";
  opacity: 0;
  width: 0;
}
.breadcrumb a{
  border-bottom: 1px solid #222;
}
.page-id-10 .breadcrumb .last_bc {
  border: 0 none;
}
.single .breadcrumb .last_bc {
  border: 0 none;
}
.breadcrumb a:hover{
  color: #7198a2!important;
}
.breadcrumb a.first_bc {
  border-radius: 0!important;
}
.page-id-8 .breadcrumb .last_bc {
  border: 0 none;
}
.main_menu_underline_effect #menu > ul > li.current-menu-item > a::after {
  background-color: #7198a2;
  bottom: 20px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  margin: 0 auto;
  opacity: 1;
  position: absolute;
  right: 0;
  transition: all 0.2s ease 0s;
  width: 60%;
}
#menu > ul > li.current-menu-item > a {
  color: #e0d9d0;
}
.footer_btm #powered{
  margin-top: 0px;
}
.button.custom-btn:hover {
  background: rgba(0, 0, 0, 0) url("images/buttonhv.svg") no-repeat scroll 0 0;
  color: #48473e!important;
}
.post_item_block .pic {
  margin-bottom: 20px;
  max-height: 240px;
  overflow: hidden;
}
.custom-section-two .custom-text {
  width: 84%;
}
.custom-section-two .custom-text br {
  display: none;
}
.custom-section-two .wpb_column.vc_column_container.vc_col-sm-8 {
  background: rgba(0, 0, 0, 0) url("images/homepage_creek.jpg") repeat scroll 0 0 / cover ;
}
.custom-section-two .vc_single_image-img.attachment-full {
  opacity: 0;
}
.custom-text-content .wpb_wrapper a {
  color: #7198a2;
}
.custom-text-content .wpb_wrapper a:hover {
  color: #7198a2 !important;
  text-decoration: underline;
}
.custom-text-content h3 strong {
  color: #383634;
}
.post_description li {
  color: #383634;
  font-family: Georgia;
  font-size: 20px;
  line-height: 1.7;
}
.alm-btn-wrap {
  display: none;
}
#menu-item-212 > a {
  margin-left: 0px!important;
}
.single .post_meta {
  display: none;
}
h6 {
  color: white;
  font-family: Georgia;
  font-size: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 1280px){
  .post-template-default .container,
  .archive .container{
    max-width: 1170px;
    width:100%!important;
    padding: 0 30px;
  }
}
@media screen and (max-width: 1024px) {
  .custom-section-two .wpb_column.vc_column_container.vc_col-sm-8 {
    width: 100%;
  }
  .custom-section-two .wpb_column.vc_column_container.vc_col-sm-4 {
    width: 100%;
  }
  .custom-text br {
    display: none;
  }

}
@media screen and (max-width: 980px) {
  .custom-text-content {
    padding: 20px !important;
  }
  .social .title {
    margin-right: 10px;
    width: 100%;
  }
  .archive .content_body .span_1_of_4,
  .single .content_body .span_1_of_4{
    width: 100%;
  }
  .archive .content_body .span_3_of_4,
  .single .content_body .span_3_of_4{
    width: 100%;
  }
  .rel_pos #logo .logo_img {
    width: 60px;
    z-index: 999999;
  }
  .custom-section-two .vc_col-sm-8 {
    width: 100%;
  }
  .custom-section-two .vc_col-sm-4 {
    padding: 0 30px;
    width: 100%;
  }
  .social-media{
    max-height:100%;
  }
  .social .title {
    margin-right: 10px;
  }
  .page-id-10 .vc_row.wpb_row.vc_inner {
    padding: 20px!important;
  }
  #header {
    background: #383634 none repeat scroll 0 0!important;
    min-height: 0;
    position: relative;
  }
  #mobile_menu{
    background: #383634 none repeat scroll 0 0!important;
  }
  .m_nav_ham {
    background: #fff none repeat scroll 0 0!important;
    height: 2px;
    margin: 5px auto;
    transition-duration: 0.3s;
    width: 24px;
  }
  .custom-text br {
    display: none;
  }
  #powered {
    clear: both;
    float: none;
    padding-top: 4px;
    text-align: center;
  }
  .post_item_block h4 {
    height: 100%;
  }
  .page_title_bgr .full_container_page_title {
    margin-bottom: 0px!important;
  }
  .post_content.col.span_3_of_4{
    width: 100%;
  }
  .col.span_1_of_4.sidebar {
    margin-left: 0;
    width: 100%;
  }
  .footer_btm {
    background: #383634 none repeat scroll 0 0;
    padding: 10px 0;
    height: 100%;
  }
  .footer_btm #powered {
    color: #fff;
    font-size: 14px;
    line-height: 1.86;
    margin: 0;
    text-align: center;
  }
  .archive .post_list_left {
    background: #8c9067 none repeat scroll 0 0;
    float: none;
    height: 75px;
    margin-bottom: 20px;
    margin-top: 7px;
    text-align: center;
    width: 75px;
  }
  .archive .post_item.section{
    padding-right: 30px;
  }
  .archive .post_list_right{
    margin-left: 30px;
  }
  .page_heading h1 {
    color: white;
    font-family: georgia;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
    padding: 30px 0;
    text-transform: none;
  }
  .custom-section-two .vc_column-inner.vc_custom_1508909357040 {
    min-height: 600px;
  }
}

#mobile_menu > ul > li > a:hover{
  color: #7198a2!important;
}
@media screen and (max-width: 768px) {
  .custom-section-two .vc_column-inner.vc_custom_1508909357040 {
    min-height: 350px;
  }
  .custom-text p {
    width: 100% !important;
  }
  #wrapper.full_width_wrapper #footer {
    text-align: center;
  }
  .col.span_1_of_4 img {
    width: 150px;
  }
  #footer .span_1_of_4 {
    margin-bottom: 20px;
  }
  #footer h3 {
    color: #383634;
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    text-transform: capitalize;
  }
  .social .title {
    color: #383634;
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}
.page-template-default #logo img {
  border-radius: 50%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.68);
}
.archive .more-link1:hover {
  color: #48473e!important;
}
.btn-event > a:hover,
.btn-event:hover a{
  cursor: pointer;
  color: #48473e!important;
}
.archive .post_title > a:hover {
  color: #7198a2!important;
}
.page-id-14 .breadcrumb .last_bc {
  border: 0 none;
}
.section.padded_block {
  padding-top: 100px;
  text-align: center;
}
.breadcrumb .last_bc {
  border: 0 none;
}
.m_nav_ham.button_open.m_nav_ham_2_open {
  margin-top: -7px;
}
.links a.pagination-prev {
  padding: 16px 90px 0 12px;
}
.category-news .post_item.section p.post_meta {
  display: none;
}